<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <!-- og format -->
    <meta property="og:title" content="og-title" />
    <meta property="og:url" content="url" />
    <meta property="og:site_name" content="name" />
    <!--    <meta property="og:image" content="assets/images/app/OGP.jpg">-->
    <!-- bar color -->
    <meta name="theme-color" content="#fff" />
    <meta name="msapplication-navbutton-color" content="#fff" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#fff" />
    <!-- favicon -->
    <!--    <link rel="shortcut icon" href="assets/images/app/favicon.ico" type="image/x-icon">-->
    <!--    <link rel="icon" type="image/png" sizes="192x192" href="assets/images/app/android-chrome-192x192.png">-->
    <!--    <link rel="apple-touch-icon" href="assets/images/app/apple-touch-icon.png" sizes="180x180">-->
    <title>Home</title>
  </head>
  <body>
    <div class="wrapper" id="wrapper">
      <%= _.template(require('./parts/header.html'))() %>

      <div class="app" id="app"></div>

      <%= _.template(require('./parts/footer.html'))() %>
    </div>
  </body>
</html>
